body {
  background: rgb(202, 248, 255);
  background: linear-gradient(
    90deg,
    rgba(202, 248, 255, 1) 0%,
    rgba(141, 236, 255, 1) 100%
  );
  margin: 0px;
}

/* site layout */

body > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* header */

.logo {
  background-color: #449dd1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  color: white;

  margin: 0px;
  padding: 1.5rem;

  box-sizing: border-box;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* main section display */

.todo-display {
  margin-top: 4rem;
  margin-bottom: 2rem;

  width: 37.5rem;
  border-radius: 2rem 2rem 0.25rem 0rem;
  box-shadow: 0 2px 5px #ccc;
}

/* date header */

.date-header {
  background: rgb(62, 187, 255);
  background: linear-gradient(
    90deg,
    rgba(62, 187, 255, 1) 0%,
    rgba(48, 161, 255, 1) 100%
  );
  box-shadow: 0 2px 5px #ccc;

  margin: 0px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 2rem;

  text-align: center;
  color: white;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* content - time and task */

.item {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  font-weight: normal;
  font-size: 1.75rem;
  color: #4b6982;
  overflow-wrap: break-word;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0px;
}

.item-time {
  padding-top: 0.75rem;
  color: #bababa;
  font-size: 1.5rem;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item-task {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.delete-button {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  display: grid;
  justify-items: end;
}

hr {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  margin: 0px;
  grid-column: span 2;
}

/* form */

form {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  text-align: center;

  width: 100%;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  display: grid;
  grid-template-columns: 5rem auto 4rem;
}

textarea {
  cursor: pointer;
  overflow-wrap: break-word;

  font-size: 1.25rem;

  border: 0px;
  padding: 0.5rem 4.3rem 0.5rem 0.5rem;
  height: 3rem;
  border-radius: 0.25rem;

  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: -1;
}

input[type="time"] {
  cursor: pointer;
  text-align: center;

  border-width: 0px 1px 0px 0px;

  grid-column-start: 1;
  grid-row-start: 1;
}

input[type="time"]:focus {
  z-index: 1;
}

.form-button {
  grid-column-start: 3;
  grid-row-start: 1;

  background: rgb(62, 187, 255);
  background: linear-gradient(
    90deg,
    rgba(62, 187, 255, 1) 0%,
    rgba(48, 161, 255, 1) 100%
  );
}

.no-input-error {
  border: 2px red solid !important;
  border-radius: 0.125rem;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 1.25rem;

  color: #4b6982;
}
